<div class="row">
  <div class="col-xs-12">
    <img 
      [src]="hero.imagePath" 
      alt="{{ hero.name }}" 
      class="img-responsive"
      style="max-height: 300px; margin-left: 215px;">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <img 
      [src]="hero.imagePath2" 
      alt="{{ hero.name }}" 
      class="img-responsive"
      style="max-height: 300px; margin: 10px;">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ hero.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div 
      class="btn-group"
      appDropdown>
      <button 
         type="button" 
         class="btn btn-primary dropdown-toggle">
         Manage Hero <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a (click)="onAddToShoppingList()" style="cursor: pointer;">Buy Items</a></li>
          <li><a style="cursor: pointer;" (click)="onEditHero()">Edit Hero</a></li>
          <li><a style="cursor: pointer;">Delete Hero</a></li>
        </ul>
    </div>
  </div>
</div>
<div class="row">
  <div style="margin: 10px;" class="col-xs-12">
    {{ hero.description }}
  </div>
</div>
<div class="row">
    <div class="col-xs-12">
      <ul class="list-group">
        <li 
          class="list-group-item"
          *ngFor="let item of hero.items">
          {{ item.name }} - {{ item.amount }}
        </li>
      </ul>
    </div>
  </div>